
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    overflow-x: hidden;
}
body {
    font-size: 1vw;
    width: 100vw;
    color: #61278b;
    font-family: Garbata;
    overflow-x: hidden;

}
.body100 {
    width: 100%;
}

.bold {
    font-weight: 700;
}

.avatar {
    width: 150px;
    height: auto;
}

#backgroundPink {
    position: fixed;
    z-index: -5;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #ffa8d7; 
    margin: 0;
}
#backgroundPurple {
    position: fixed;
    z-index: -5;
    top: 0;
    right: 0;
    left: auto;
    width: 50%;
    height: 100%;
    background-color: #61278b; 
    margin: 0;
}
@font-face {
    font-family: Garbata;
    src: url(../fonts/Garbata\ Serif\ Font.ttf);
}
.textAlignRight {
    text-align: right;
}


.zIndex-1 {
    position: absolute;
    z-index: -1;
}

.container {
    padding-top: 100px;
}


.GoBack {
    position: fixed;
    z-index: 2;
}
.startLesson {
    position: fixed;
    top: 10%;
    z-index: 2;
}

.btn {
    padding: 15px;
    background-color: #fff;
    color: #61278b;
}

h1 {
    font-size: 6vw;
    font-weight: 800;
}
h2 {
    font-size: 5vw;
    font-weight: 700;
}
h3 {
    font-size: 3vw;
}
h4 {
    font-size: 1.8vw;
}
h5{
    font-size: 2vw;
}
.h5 {
    font-size: 2vw;
    font-weight: 700;
}
@media (max-width: 800px) {
    h1 {
        font-size: 13vw;
    }
    h4 {
        font-size: 4vw;
    }
    h5{
        font-size: 5vw;
    }
    .h5 {
        font-size: 5vw;
        font-weight: 700;
    }
    h3 {
        font-size: 10vw;
    }
    h2 {
        font-size: 12vw;
    }
    body {
        font-size: 2.5vw;
    }
    .btn {
        font-size: 2.5vw;
    }
    .GoBack {
        top: 11%;
    }
    .startLesson {
        top: 18%;
    }
    .roundBtn {
        font-size: 6vw;
    }
    body {
        background-color: #ffa8d7;
    }
    #backgroundPink {
        background-color: transparent;
        display: none;
    }
    #backgroundPurple {
        background-color: transparent;
        display: none;
    }
    .purpleBg {
        background-color: #61278b;
        width: 100vw;
    }
    h6 {
        font-size: 3vw;
    }
    .bigCard {
        height: 70vw;
    }
}


.roundBtn {
    background-color: pink;
    padding: 5px;
    width: 40px;
    border-radius: 25px;
}


.whiteStripe {
    padding: 5px;
    background-color: #fff;
}

.NewProInput {
    width: 70vw;
}
.active {
    transform: perspective(300px) rotateY(180deg);
}

.bigCard {
    position: relative;
    min-width: 20vw;
    height: 400px;
    transition: transform 0.8s;
    cursor: pointer;
    transform-style: preserve-3d;
}

.front {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}
.back {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #f4d8ff;
    color: #61278b;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.smallCard {
    height: 250px;
}

.hidden {
    display: none;
}


.popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup {
    width: 40%;
    height: 40%;
    position: relative;
    transition: transform 0.8s;
    cursor: pointer;
    transform-style: preserve-3d;
}



.correctButton {
    background-color: #a8ffd0;
    color: #00bf63;
    width: 150px;
}
.correctButton:hover {
    background-color: #00bf63;
    color: white;
}
.wrongButton {
    background-color: #f86565;
    color: #ff3131;
    height: 70px;
    width: 150px;
}
.wrongButton:hover {
    background-color: #ff3131;
    color: white;
}
.cardLesson{
    position: relative;
    min-width: 20vw;
    height: 300px;
    transition: transform 0.8s;
    cursor: pointer;
    transform-style: preserve-3d;
}



  .completeTable {
    background-color: #fff;
  }
.imageComplete {
    height: 80%;
}

.GoBackComplete {
    position: fixed;
    bottom: 5%;
    right: 5%;
}




.ImgStore {
    height: 180px;
}
.TextXPStore {
    color: #61278b;
    font-weight: 700;
}


@media (max-width: 800px) {
    .ImgStore {
        height: 100px;
    }
    .TextXPStore {
        font-size: 3vw;
        color: #61278b;
        font-weight: 700;
    }
    .shopButton {
        padding: 5px;
    }
}
